.contentWrapper {
	display: flex;
	flex-direction: column;
	max-width: 50em;
	width: 80%;
	margin: 0 auto;
}

.contentWrapper section {
	border-bottom: 0.1em dashed rgb(var(--foreground-rgb));
	margin-bottom: 4em;
	padding: 0 0 2em;
}

.contentWrapper h2:not(:first-of-type),
.contentWrapper h3 {
	margin-top: 2em;
}
.contentWrapper h2 + h3 {
	margin-top: 0;
}
.contentWrapper p {
	margin-bottom: 1em;
}
.contentWrapper ul {
	margin: 0.5em 0 1.5em 1.3em;
}

/* Mobile */
@media (max-width: 700px) {
	.contentWrapper {
		width: 100%;
	}
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}
