.guidelinesWrapper {
	display: flex;
}

.contentWrapper {
	max-width: 50em;
	width: 80%;
}

.contentWrapper > section {
	margin-bottom: 3em;
}

@media (prefers-reduced-motion) {
	.card:hover span {
		transform: none;
	}
}

/* Mobile */
@media (max-width: 700px) {
	.guidelinesWrapper {
		display: block;
		position: relative;
	}

	.contentWrapper {
		width: 100%;
	}
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}

@media (prefers-color-scheme: dark) {
}
