.scSection {
	margin-top: 3em;
}

.tableSection {
	max-width: 40em;
}
.tableSection:first-of-type {
	margin-top: 2em;
}
.tableSection table {
	margin-bottom: 2em;
}
.tableSection section {
	margin-bottom: 0;
	max-height: 1000px;
	opacity: 1;
	overflow: visible;
	transition: all 500ms ease-in-out;
}
.tableSection section[inert] {
	max-height: 0;
	opacity: 0;
	overflow: hidden;
}
.testsTable,
.referencesTable {
	border: 0.1em solid rgb(var(--foreground-rgb));
	text-align: left;
	border-collapse: collapse;
}

.testsTable tr:not(:last-child) td,
.testsTable th,
.referencesTable tr:not(:last-child) td,
.referencesTable tr:not(:last-child) th {
	border-bottom: 0.15em solid rgb(var(--foreground-rgb));
}
.testsTable td:not(:last-child),
.testsTable th:not(:last-child),
.referencesTable td:not(:last-child),
.referencesTable th:not(:last-child) {
	border-right: 0.1em solid rgb(var(--foreground-rgb));
}

.testsTable td,
.testsTable th,
.referencesTable td,
.referencesTable th {
	padding: 0.8em;
}

.testsTable th,
.referencesTable th {
	background-color: rgb(var(--foreground-tint-rgb));
}

.testsTable ul,
.referencesTable ul,
.testsTable ol,
.referencesTable ol {
	padding-left: 1em;
}

/* Mobile */
@media (max-width: 700px) {
	.testsTable tr td:nth-child(3n + 3),
	.testsTable tr th:nth-child(3n + 3) {
		display: none;
	}
}

.accordionHeading button {
	background-color: rgb(var(--background-rgb));
	border-top: 0.1em solid rgb(var(--foreground-rgb));
	border-bottom: 0.1em solid rgb(var(--foreground-rgb));
	border-left: none;
	border-right: none;
	cursor: pointer;
	width: 100%;
	text-align: left;
	font-size: 1.3em;
	font-weight: bold;
	padding: 0.5em;
	display: flex;
	justify-content: space-between;
	transition: all 300ms ease-in-out;
}
.tableSection:last-of-type .accordionHeading button {
	border-top: none;
}

.accordionHeading button span {
	transform: rotate(-90deg);
	transition: all 300ms ease-in-out;
}
.accordionHeading button[aria-expanded='true'] span {
	transform: rotate(0);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
	.accordionHeading button:hover {
		background-color: rgb(var(--foreground-tint-rgb));
	}
}
