.terminologyWrapper {
	display: flex;
}

.tocWrapper {
	border-right: 0.15em solid rgb(var(--foreground-rgb));
	margin-right: 6em;
	padding-right: 2em;
	width: 20%;
}

.contentWrapper {
	display: flex;
	flex-direction: column;
	max-width: 50em;
	width: 80%;
}

.contentWrapper section {
	border-bottom: 0.1em dashed rgb(var(--foreground-rgb));
	margin-bottom: 6em;
	padding-bottom: 4em;
}

.contentWrapper article:not(:last-child) {
	margin-bottom: 4em;
}

.imageWrapper {
	display: inline-flex;
	flex-direction: column;
	margin: 2em 1em 0;
}

.imageWrapper > span {
	display: block;
	max-width: inherit;
	font-size: 0.8em;
	text-align: center;
	padding: 0.5em 0.8em 0;
}

/* Mobile */
@media (max-width: 700px) {
	.terminologyWrapper {
		display: block;
		position: relative;
	}

	.tocWrapper {
		background: white;
		border-right: none;
		margin-right: 0;
		padding-right: 0;
		position: absolute;
		top: 0;
		left: -2em;
	}

	.contentWrapper {
		width: 100%;
	}
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}
