.toc ul {
	list-style-type: none;
}

.toc li > ul {
	margin: 0.8em 0 1em;
	padding-left: 1em;
}

.toc li > ul li {
	margin-bottom: 0.2em;
}

.toc a {
	color: inherit;
}

.terminology li:not(:last-child) {
	margin-bottom: 0.5em;
}

.termsSection {
	font-weight: bold;
	font-size: 1.3em;
	margin: 1em 0 0.8em;
}
